# --- Database / Docker ---
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_dbname
PGADMIN_EMAIL=your_email
PGADMIN_PASSWORD=your_pgadmin_password

# --- Strapi Admin (ใช้ใน api.http) ---
ADMIN_FIRSTNAME=firstname
ADMIN_LASTNAME=lastname
ADMIN_EMAIL=admin_email
ADMIN_PASSWORD=admin_password
ADMIN_TOKEN=put_admin_jwt_from_login

# --- Strapi User (ใช้ใน api.http) ---
USER_EMAIL=user_email
USER_PASSWORD=user_password
USER_TOKEN=put_user_jwt_from_login